<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <environment include="Development">
        <link href="~/css/materialColor.css" rel="stylesheet" />
    </environment>
    <style>


        html {
            height: 100%;
        }

        body {
            display: flex !important;
            flex-direction: column !important;
            min-height: 100% !important;
            margin: 0 !important;
        }

        .demo-body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .demo-main {
            padding-left: 16px;
            padding-bottom: 16px;
            overflow: auto;
        }

        .app-drawer-layout {
            display: flex;
            flex: 1;
        }

        .mdc-drawer--dismissible {
            top: 64px;
            height: calc(100% - 64px);
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 1.5rem;
        }

        .demo {
            &__title

        {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 18px;
            white-space: nowrap;
        }

        &__title-icon {
            padding-left: .75rem;
        }

        &__subtitle {
            color: #888;
            font-size: 1rem;
        }
        }
    </style>

</head>
<body>


    <!-- Top App Bar -->
    <header class="mdc-top-app-bar  mdc-top-app-bar--fixed mdc-elevation--z6" style="margin-top:-50px">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="mdc-top-app-bar__navigation-icon" href="javascript:void(0)">
                    <i class="material-icons">menu</i>
                </a>
                <a class="mdc-top-app-bar__title catalog-title" href="https://www.webdenim.io" target="_blank" style="color: inherit;">Webdenim</a>
            </section>
        </div>
    </header>


    <div class="app-drawer-layout mdc-top-app-bar--fixed-adjust">
        <!-- Drawer -->
        <aside class="mdc-drawer mdc-drawer--modal mdc-drawer--dismissible demo-drawer">
            <nav class="mdc-drawer__drawer">
                <nav class="mdc-drawer__content">
                    <div id="icon-with-text-demo" class="mdc-list">
                        <a class="mdc-list-item mdc-list-item--selected demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
                        </a>
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
                        </a>
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail
                        </a>
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts
                        </a>
                    </div>

                    <hr class="mdc-list-divider">

                    <div class="mdc-list">
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail
                        </a>
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash
                        </a>
                        <a class="mdc-list-item demo-drawer-list-item" href="#">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
                        </a>
                    </div>
                </nav>
            </nav>
        </aside>

        <!-- Content -->
        <main class="mdc-drawer-app-content main-content">
            @RenderBody()
        </main>
    </div>







    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

   
</body>
</html>

<script>

    // Instantiate MDC Drawer
    const drawerEl = document.querySelector('.mdc-drawer');
    const drawer = new mdc.drawer.MDCDrawer.attachTo(drawerEl);

    // Instantiate MDC Top App Bar (required)
    const topAppBarEl = document.querySelector('.mdc-top-app-bar');
    const topAppBar = new mdc.topAppBar.MDCTopAppBar.attachTo(topAppBarEl);

    topAppBar.setScrollTarget(document.querySelector('.main-content'));
    topAppBar.listen('MDCTopAppBar:nav', () => {
        drawer.open = !drawer.open;
    });

</script>
